@tailwind base;
@tailwind components;
@tailwind utilities;

/* Configuração da fonte Roboto */
* {
    font-family: 'Roboto', sans-serif;
}

/* Configurações para scroll suave */
html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translate(-50%, -20px);
    }

    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}


@keyframes bounce-custom {

    0%,
    100% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
        transform: translateY(-15px);
        /* altura do pulo */
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

.bounce-custom {
    animation: bounce-custom 1s infinite;
}

@keyframes zoom-in-out {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);

    }
}

@layer utilities {
    .zoom-in-out {
        animation: zoom-in-out 2.5s infinite ease-in-out;
        transition: color 0.2s;
    }
}

/* Impede que mídias causem overflow horizontal */
img,
video {
    max-width: 100%;
    height: auto;
}