---
import Testimonials from "../components/Testimonials.astro";
import Features from "../components/Features.astro";
import Pricing from "../components/Pricing.astro";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="scroll-smooth">
    <section
      id="home"
      class="min-h-screen flex flex-col gap-10 items-center justify-center mt-10"
    >
      <Welcome />
      <Features />
      <Pricing />
      <Testimonials />

      <footer
        class="py-8 sm:py-10 text-center text-xs sm:text-sm text-gray-500 px-4"
      >
        © 2025 iGenda. Todos os direitos reservados.
      </footer>
    </section>
  </main>
</Layout>
