---
import Testimonials from "../components/Testimonials.astro";
import Features from "../components/Features.astro";
import Pricing from "../components/Pricing.astro";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import Segments from "../components/Segments.astro";
import SegmentsTwo from "../components/SegmentsTwo.astro";
---

<Layout>
  <main class="scroll-smooth">
    <section
      id="home"
      class="min-h-screen flex flex-col items-center justify-center"
    >
      <Welcome />
      <Features />
      <Segments />
      <SegmentsTwo />
      <Pricing />
      <Testimonials />
      <footer
        class="py-8 text-center text-xs sm:text-sm text-white bg-black w-full px-4"
      >
        © 2025 iGenda. Todos os direitos reservados.
      </footer>
    </section>
  </main>
</Layout>
