---
// Componente Features.astro
---

<div class="flex flex-col gap-4 px-4">
  <!-- Relatórios -->
  <div class="bg-gray-100 rounded-xl p-4 sm:p-6">
    <h2 class="text-xl sm:text-2xl font-bold text-emerald-600 mb-2">
      Relatórios completos
    </h2>
    <p class="text-sm sm:text-base mb-4">
      Visualize seus dados mais importantes em um só lugar, com gráficos calros
      e atualizados que facilitam a análise do seu desempenho financeiro e
      operacional.
    </p>

    <img
      src="/DashDesktop.png"
      alt="Demonstração da dashboard de relatórios iGenda"
      class="w-90 sm:w-80 md:w-96 mx-auto rounded shadow-lg"
      loading="lazy"
    />
  </div>

  <!-- Agenda inteligente -->
  <div class="bg-gray-100 rounded-xl p-4 sm:p-6">
    <h2 class="text-xl sm:text-2xl font-bold text-emerald-600 mb-2">
      Agenda inteligente
    </h2>
    <p class="text-sm sm:text-base mb-4">
      Organize seus atendimentos com praticidade e evite conflitos de horários,
      mantendo sua rotina sob controle com uma agenda visual e fácil de usar.
    </p>

    <img
      src="/AgendaDesktop.png"
      alt="Demonstração da dashboard de relatórios iGenda"
      class="w-90 sm:w-80 md:w-96 mx-auto rounded shadow-lg"
      loading="lazy"
    />
  </div>

  <!-- Gerenciamento de cliente -->
  <div class="bg-gray-100 rounded-xl p-4 sm:p-6">
    <h2 class="text-xl sm:text-2xl font-bold text-emerald-600 mb-2">
      Gerenciamento de clientes
    </h2>
    <p class="text-sm sm:text-base mb-4">
      Mantenha todos os dados dos seus clientes organizados e sempre à mão. <br
      />
      Acompanhe o histórico de atendimentos, preferências e informações de contato
      em um só lugar, facilitandoo relacionamento e garantindo um atendimento personalizado.
    </p>

    <img
      src="/ClientesDesktop.png"
      alt="Demonstração da dashboard de relatórios iGenda"
      class="w-90 sm:w-80 md:w-96 mx-auto rounded shadow-lg"
      loading="lazy"
    />
  </div>

  <!-- Integração inteligente com WhatsApp -->
  <div class="bg-gray-100 rounded-xl p-4 sm:p-6">
    <h2 class="text-xl sm:text-2xl font-bold text-emerald-600 mb-2">
      Integração inteligente com WhatsAp
    </h2>
    <p class="text-sm sm:text-base mb-4">
      Envio automático de confirmações, lembretes e mensagens personalizadas. <br
      />
      Respostas rápidas e organizadas para agilizar seu atendimento. Mais proximidade
      e profissionalismo na comunicação com seus clientes.
    </p>

    <!-- <img
      src="/WppMockup.png"
      alt="Demonstração da dashboard de relatórios iGenda"
      class="w-60 sm:w-80 md:w-96 mx-auto"
      loading="lazy"
    /> -->
  </div>

  <!-- Link de agendamento personalizado -->
  <div class="bg-gray-100 rounded-xl p-4 sm:p-6">
    <h2 class="text-xl sm:text-2xl font-bold text-emerald-600 mb-2">
      Link de agendamento personalizado
    </h2>
    <p class="text-sm sm:text-base mb-4">
      Compartilhe seu link único para que clientes escolham o horário que
      preferirem. <br />
      Agendamentos confirmados automáticamente sem trocas de mensagens desnecessárias,
      mais praticidade para você e conveniência para seus clientes.
    </p>

    <img
      src="/LinkMockup.png"
      alt="Demonstração da dashboard de relatórios iGenda"
      class="w-60 sm:w-80 md:w-96 mx-auto"
      loading="lazy"
    />
  </div>
</div>
