---
const faqs = [
  {
    question: "Preciso instalar algum aplicativo?",
    answer:
      "Não! O iGenda funciona totalmente online através do seu navegador. Você pode acessar de qualquer dispositivo com internet, sem necessidade de instalar aplicativos.",
  },
  {
    question: "Como os clientes fazem o agendamento?",
    answer:
      "Seus clientes podem agendar diretamente pelo seu link personalizado. O processo é simples e intuitivo, permitindo que escolham o serviço, profissional e horário disponível.",
  },
  {
    question: "Como funcionam os lembretes por e-mail?",
    answer:
      "O sistema envia automaticamente lembretes por Whatsapp para seus clientes antes do agendamento.",
  },
  {
    question: "Posso personalizar minha agenda?",
    answer:
      "Sim! Você pode personalizar horários de funcionamento, intervalos de atendimento, duração dos serviços e muito mais. O sistema se adapta às suas necessidades.",
  },
  {
    question: "Quanto tempo leva para configurar o sistema?",
    answer:
      "A configuração inicial é rápida e pode ser feita em poucos minutos. Você só precisa cadastrar seus profissionais, serviços e horários de funcionamento.",
  },
  {
    question: "Posso solicitar reembolso caso queira cancelar?",
    answer:
      "Sim! Oferecemos um período possibilidade de reembolso de 7 dias caso você não queira continuar com a sua assinatura.",
  },
];
---

<section
  class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-12 sm:py-16 lg:py-20 w-full"
>
  <h1
    class="text-2xl sm:text-4xl md:text-5xl lg:text-6xl font-bold leading-tight mb-4 sm:mb-6 text-center"
  >
    Depoimentos (Faltando)
  </h1>

  <!-- Footer Section
  <div class="text-center">
    <p class="text-gray-400 mb-4 sm:mb-6 text-sm sm:text-base">
      Ainda tem dúvidas? Entre em contato com nossa equipe de suporte.
    </p>

    <a
      href="https://api.whatsapp.com/send/?phone=64992834346&text=Ol%C3%A1%21+Preciso+de+ajuda+com+a+iGenda.&type=phone_number&app_absent=0"
      class="inline-flex items-center gap-2 px-4 sm:px-6 py-2 sm:py-3 bg-emerald-600 text-white rounded-lg hover:bg-emerald-700 transition-colors text-sm sm:text-base"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="sm:w-5 sm:h-5"
      >
        <path
          d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"
        ></path>
      </svg>
      <span>Falar com Suporte</span>
    </a>
  </div> -->
</section>
