<section
  class="text-center bg-gradient-to-tr from-black via-black to-[#1c6704] flex flex-col pt-8 items-center justify-center max-w-6xl mx-auto px-4"
>
  <img
    src="/LogoiGenda.png"
    alt="Logo iGenda"
    class="w-20 mb-4"
    loading="lazy"
  />

  <h1
    class="text-4xl sm:text-4xl md:text-5xl lg:text-6xl font-extrabold leading-tight mb-2 text-white"
  >
    Torne-se um profissional organizado e lucrativo
  </h1>

  <p class="text-xl sm:text-xl max-w-2xl sm:max-w-3xl text-white px-4 mb-4">
    Facilite agendamentos, reduza ausências, envie lembretes automáticos,
    recupere seus cliente e mantenha sua agenda sempre cheia.
  </p>

  <img
    src="/MockupiGenda.png"
    alt="Demonstração do iGenda"
    class="w-100 sm:w-80 md:w-96 mx-auto sm:mb-8"
    loading="lazy"
  />

  <div class="flex flex-col gap-1 items-center mb-4">
    <h2 class="text-lg text-white mb-2">
      Desconto no primeiro mês!! <br /> De <span class="line-through"
        >R$ 39,90</span
      > por apenas <br />
      <span class="text-green-500 text-7xl font-extrabold mt-2">R$ 19,90</span>
    </h2>
  </div>

  <a href="#prices" class="scroll-link">
    <button
      data-fb-event="VisualizacaoDePlanosClicado"
      class="zoom-in-out mb-4 sm:mb-8 bg-green-500 text-black p-4 rounded-md shadow transition text-xl sm:text-base font-semibold flex items-center gap-3"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-arrow-big-right-dash-icon lucide-arrow-big-right-dash"
        ><path
          d="M11 9a1 1 0 0 0 1-1V5.061a1 1 0 0 1 1.811-.75l6.836 6.836a1.207 1.207 0 0 1 0 1.707l-6.836 6.835a1 1 0 0 1-1.811-.75V16a1 1 0 0 0-1-1H9a1 1 0 0 1-1-1v-4a1 1 0 0 1 1-1z"
        ></path><path d="M4 9v6"></path></svg
      >
      Quero organizar minha agenda!
    </button>
  </a>
</section>
