<section
  class="text-center flex flex-col pt-20 bg-gradient-to-br from-[#347d61] to-[#88b94d] items-center justify-center max-w-6xl mx-auto px-4 sm:px-6 lg:px-8"
>
  <img
    src="/LogoiGenda.png"
    alt="Logo iGenda"
    class="w-60 mb-8"
    loading="lazy"
  />

  <h1
    class="text-2xl sm:text-4xl md:text-5xl lg:text-6xl font-bold leading-tight mb-8 sm:mb-6 text-gray-100"
  >
    Torne-se uma profissional organizada e lucrativa
  </h1>

  <p
    class="text-lg sm:text-xl max-w-2xl sm:max-w-3xl text-gray-200 mb-8 sm:mb-8 px-4"
  >
    Facilite agendamentos, reduza ausências, envie lembretes automáticos,
    recupere seus cliente e mantenha sua agenda sempre cheia.
  </p>

  <img
    src="/MockupiGenda.png"
    alt="Demonstração do iGenda"
    class="w-80 sm:w-80 md:w-96 mx-auto mb-8 sm:mb-8"
    loading="lazy"
  />

  <div class="flex flex-col gap-1 mb-6 font-bold items-center">
    <h2 class="text-2xl text-gray-100 mb-2">
      Desconto no primero mês!! <br /> De <span
        class="text-red-300 line-through">R$ 39,90</span
      > por apenas <br />
      <span class="text-white text-5xl font-bold zoom-in-out inline-block"
        >R$ 19,90</span
      >
    </h2>
  </div>

  <a href="#prices" class="scroll-link">
    <button
      data-fb-event="VisualizacaoDePlanosClicado"
      class="inline-block bg-gradient-to-r mb-8 sm:mb-8 from-emerald-800 via-emerald-600 to-emerald-600 text-white px-8 sm:px-6 py-9 sm:py-4 rounded shadow hover:from-emerald-600 hover:via-emerald-600 hover:to-emerald-800 transition text-xl sm:text-base font-semibold"
    >
      Quero organizar minha agenda!
    </button>
  </a>
</section>
