<section
  class="text-center bg-gradient-to-tr from-black via-black to-[#1c6704] flex flex-col border-none items-center pt-2 justify-center max-w-6xl mx-auto px-4"
>
  <img
    src="/LogoiGenda.png"
    alt="Logo iGenda"
    class="w-20 mb-4"
    loading="lazy"
  />

  <h1
    class="text-4xl sm:text-4xl md:text-5xl lg:text-6xl font-extrabold leading-tight mb-2 text-white"
  >
    Torne-se um profissional organizado e lucrativo
  </h1>

  <p class="text-xl sm:text-xl max-w-2xl sm:max-w-3xl text-white px-4 mb-4">
    Facilite agendamentos, reduza ausências, envie lembretes automáticos,
    recupere seus cliente e mantenha sua agenda sempre cheia.
  </p>

  <img
    src="/MockupiGenda.png"
    alt="Demonstração do iGenda"
    class="w-100 sm:w-80 md:w-96 mx-auto sm:mb-8"
    loading="lazy"
  />

  <div class="flex flex-col gap-1 items-center mb-4">
    <h2 class="text-lg text-white mb-2">
      Desconto no primeiro mês <br /> De <span class="line-through"
        >R$ 39,90</span
      > por apenas <br />
      <span class="text-green-500 text-7xl font-extrabold mt-2">R$ 19,90</span>
    </h2>
  </div>

  <a href="https://pay.cakto.com.br/ht897wv_511991" class="scroll-link">
    <button
      data-fb-event="VisualizacaoDePlanosClicado"
      class="zoom-in-out mb-4 bg-green-500 text-black p-4 rounded-md shadow transition text-xl sm:text-base font-semibold flex items-center gap-1"
    >
      <img
        src="/IconButton.png"
        alt="Seta para a direita"
        class="w-8 h-8"
        loading="lazy"
      />
      Quero organizar minha agenda!
    </button>
  </a>

  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="54"
    height="54"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="lucide lucide-arrow-down-icon lucide-arrow-down my-8 text-white font-extrabold"
    ><path d="M12 5v14"></path><path d="m19 12-7 7-7-7"></path></svg
  >
</section>
